In [1]:
from openbb import obb
output = obb.equity.price.historical("MSFT")
df = output.to_dataframe()
df.tail()

              open    high     low   close    volume
date
2025-12-12  479.96  482.45  476.34  478.53  21248102
2025-12-15  479.94  480.72  472.52  474.82  23727694
2025-12-16  471.90  477.89  470.88  476.39  20705560
2025-12-17  476.90  480.00  475.00  476.12  24527176
2025-12-18  478.19  489.60  477.89  483.98  28573545